{% extends "web/page_detail.html" %}

{% block page_id %}department{% endblock %}
{% block list_id %}course_list{% endblock %}
{% block search_id %}course_search{% endblock %}

{% block page_list %}
    <li data-role="list-divider" role="heading">
        Courses
    </li>
{% endblock %}
{% block page_list_bottom %}
{% endblock %}

{% block page_script %}
    <script>
        $(function(){
            var view = new CourseListView({el: $("#course_list"),collection:new CourseCollection({{object.id}})});
            //every time the more button is clicked, add some more courses
            $("#course_search").keyup(function(){
                view.filter($(this).val());
            });
            $("#more_departments").click(function(){
                var text = $(this).html(), link = $(this);
                var element = $(this);
                $(this).html("Loading...");
                view.fetch({
                    success: function(){
                        element.html(text);
                    },
                    complete: function(){
                        element.remove();
                    }
                });
                return false;
            });
        });
    </script>
    <script type="text/template" id="course_template">
        {% include "web/department.html" %}
    </script>
{% endblock %}
