{% extends "base.html" %}

{% block content %}
    <div class="panel scrollable">
        <div class="row-fluid">
            <div id="course">
            </div>
            <a href="#" id="more" class="btn">More</a>
        </div>
    </div>
{% endblock %}
{% block extra_script %}
    <script>
        $(function(){
            var courses_view = new CoursesView({el: $("#course")});
            //every time the more button is clicked, add some more courses
            $("#more").click(function(){
                var text = $(this).html(), link = $(this);
                $(this).html("Loading...");
                courses_view.fetch();
                return false;
            });
        });
    </script>
    <script type="text/template" id="course_template">
        <a href="<%= url %>?format=json">
            <h3><%= name %></h3>
            <p><%= instructor %>, Enrolled: <%= enrolled %></p>
        </a>
    </script>
{% endblock %}
